<a href="https://colab.research.google.com/github/ab17254/ce802/blob/main/CE802_P2_Notebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [15]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import KFold, cross_val_score
from sklearn.preprocessing import StandardScaler
from sklearn.tree import DecisionTreeClassifier
from sklearn.impute import SimpleImputer
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn import tree, metrics
from sklearn.metrics import classification_report, confusion_matrix, f1_score, make_scorer
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
from sklearn.linear_model import LogisticRegression

sns.set_style('whitegrid')

In [2]:
from google.colab import files

uploaded = files.upload()

for fn in uploaded.keys():
  print('User uploaded file "{name}" with length {length} bytes'.format(
      name=fn, length=len(uploaded[fn])))

Saving CE802_P2_Data.csv to CE802_P2_Data.csv
Saving CE802_P2_Test.csv to CE802_P2_Test.csv
User uploaded file "CE802_P2_Data.csv" with length 119990 bytes
User uploaded file "CE802_P2_Test.csv" with length 113062 bytes

In [147]:
data = pd.read_csv('/content/CE802_P2_Data.csv')
data_test = pd.read_csv('/content/CE802_P2_Test.csv')
data.head()

     F1     F2    F3     F4     F5  ...    F12  F13   F14    F15  Class
0  11.7   4.02 -4.34   9.90  29.79  ...   0.03    1  1.96    NaN  False
1  11.7   4.20 -3.68  10.98  17.46  ...   0.84    1  1.50    NaN  False
2  37.7  25.80  3.60   0.48  12.24  ...  21.60   10  7.63    NaN   True
3   7.7   5.40  0.30   9.42  19.86  ...   1.05    1  2.27  12.17   True
4  15.7   5.58 -2.58  16.34  17.49  ...   1.68    1  1.28    NaN  False

[5 rows x 16 columns]

In [146]:
data_test.head()

     F1     F2     F3    F4     F5  ...    F12  F13    F14        F15  Class
0  37.7  33.15   9.26  3.88   5.91  ...  18.75   10   7.78  10.853013      1
1  17.7  24.30   6.58  3.40  10.47  ...  15.30   10   8.13  10.853013      1
2  37.7  17.55  10.16 -1.94   6.90  ...  17.70   10  10.08  13.270000      1
3  11.7   2.61  -8.28  8.96  23.22  ...   1.32    1   1.80  11.730000      0
4   7.7   5.55   1.52  8.50  21.66  ...   2.76    1   2.22  12.310000      1

[5 rows x 16 columns]

In [6]:
data.dtypes

F1       float64
F2       float64
F3       float64
F4       float64
F5       float64
F6       float64
F7       float64
F8         int64
F9       float64
F10      float64
F11      float64
F12      float64
F13        int64
F14      float64
F15      float64
Class       bool
dtype: object

In [7]:
cleanup = {'Class': {False: 0, True:1}}
data.replace(cleanup, inplace=True)
data

        F1     F2    F3     F4     F5  ...    F12  F13   F14    F15  Class
0     11.7   4.02 -4.34   9.90  29.79  ...   0.03    1  1.96    NaN      0
1     11.7   4.20 -3.68  10.98  17.46  ...   0.84    1  1.50    NaN      0
2     37.7  25.80  3.60   0.48  12.24  ...  21.60   10  7.63    NaN      1
3      7.7   5.40  0.30   9.42  19.86  ...   1.05    1  2.27  12.17      1
4     15.7   5.58 -2.58  16.34  17.49  ...   1.68    1  1.28    NaN      0
...    ...    ...   ...    ...    ...  ...    ...  ...   ...    ...    ...
1495  37.7  33.90  5.80   6.62  10.71  ...  15.30   10  6.93   8.76      0
1496  17.7  29.40  8.00  -0.48   3.54  ...  29.25   10  7.53  12.19      1
1497  11.7   2.13 -0.92  12.12  22.65  ...   2.34    1  1.89    NaN      1
1498  11.7   2.94  0.64  11.68  17.49  ...   2.67    1  1.48  11.55      0
1499  27.7  30.75  7.76   1.84   8.67  ...  20.40   10  6.93  10.41      0

[1500 rows x 16 columns]

In [8]:
data['F15'].fillna(data['F15'].mean(), inplace=True)

In [9]:
features = {'F1', 'F2', 'F3', 'F4', 'F5', 'F6', 'F7', 'F8', 'F9', 'F10', 'F11', 'F12', 'F13', 'F14', 'F15'}

In [10]:
x = data.loc[:, features].to_numpy()
y = data.loc[:, 'Class'].to_numpy()
print(x.shape, y.shape)

(1500, 15) (1500,)

In [145]:
data_test.dtypes

F1       float64
F2       float64
F3       float64
F4       float64
F5       float64
F6       float64
F7       float64
F8         int64
F9       float64
F10      float64
F11      float64
F12      float64
F13        int64
F14      float64
F15      float64
Class      int64
dtype: object

In [173]:
# model = DecisionTreeClassifier()
# model.fit(x,y)
data_test['F15'].fillna(data['F15'].mean(), inplace=True)
x_new = data_test.loc[:, features].to_numpy()
#y_new = model.predict(x_new)
# data_test['Class'] = y_new
# data_test

In [234]:
k_fold = KFold(n_splits=5)
x_or = x.copy()
for train_indices, test_indices in k_fold.split(x):
    mean = np.nanmean(x_or[train_indices, 1])
    x[np.isnan(x_or[:,1]), 1] = mean # We substitute the missing values for the mean
    ss = StandardScaler()
    ss.fit(x[train_indices, :])
    x_train = ss.transform(x[train_indices, :])
    x_test = ss.transform(x[test_indices, :])
    y_train = y[train_indices]


x_or_new = x_new.copy()
for train_indices, test_indices in k_fold.split(x_new):
    mean = np.nanmean(x_or_new[train_indices, 1])
    x_new[np.isnan(x_or_new[:,1]), 1] = mean # We substitute the missing values for the mean
    ss = StandardScaler()
    ss.fit(x_new[train_indices, :])
    x_new_train = ss.transform(x_new[train_indices, :])
    x_new_test = ss.transform(x_new[test_indices, :])

model = DecisionTreeClassifier()
model.fit(x_train, y_train)

y_new = model.predict(x_new)
data_test['Class'] = y_new

In [235]:
print(classification_report(y, y_new))

              precision    recall  f1-score   support

           0       0.54      0.40      0.46       809
           1       0.46      0.60      0.52       691

    accuracy                           0.49      1500
   macro avg       0.50      0.50      0.49      1500
weighted avg       0.51      0.49      0.49      1500

In [236]:
data_test.groupby('Class').count()

        F1   F2   F3   F4   F5   F6   F7  ...   F9  F10  F11  F12  F13  F14  F15
Class                                     ...
0      597  597  597  597  597  597  597  ...  597  597  597  597  597  597  597
1      903  903  903  903  903  903  903  ...  903  903  903  903  903  903  903

[2 rows x 15 columns]